html,
body {
	margin: 0;
	padding: 0;
	font: 16px "Montserrat", "Arial", sans-serif;
}

* {
	box-sizing: border-box;
}

.clearfix {
	overflow: auto;

	&::after {
		content: " ";
		clear: both;
		display: table;
	}
}
